:root {
    --color-iris: #4D5AE5;
    --color-ocean: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-green: #31D0AA;
    --color-slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-navy-blue-modal: #2E2F42;
    --color-grey: #2E2F42;
    --color-white: #FFFFFF;
    --color-dairy: #FCFCFC;
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto';
    color: var(--color-slate);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    font-weight: 500;
    /* Середній шрифт */
    font-size: 16px;
    /* Розмір шрифту 16 пікселів */
    line-height: 24px;
    /* Висота рядка 24 пікселів */
    letter-spacing: 4%;
    /* Міжсимвольний інтервал 4% */

    text-decoration: none;
    cursor: pointer;
}

button:hover,
button:focus {
    color: var(--color-white);
    background: var(--color-ocean);
}

.nav {
    display: flex;
    align-items: center;
    gap: 76px;
    margin-right: auto;
}

.menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-info {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 128px;

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 12px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item a {
    color: var(--color-navy-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;

    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.nav-item a:hover,
.nav-item a:focus {
    color: var(--color-ocean);
}


address ul li a {
    color: var(--color-slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
}

address ul li a:hover,
address ul li a:focus {
    color: var(--color-ocean)
}


/* Застосування стилів до тексту */
h1 {
    text-align: center;
    font-weight: bold;
    /* Жирний шрифт */
    font-size: 56px;
    /* Розмір шрифту 56 пікселів */
    letter-spacing: 2%;
    line-height: 60px;
    /* Висота рядка 60 пікселів */
}

h2 {
    font-weight: bold;
    /* Жирний шрифт */
    font-size: 36px;
    /* Розмір шрифту 56 пікселів */
    letter-spacing: 2%;
    /* Міжсимвольний інтервал 2% */
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}

/* Small text */
.small-text {
    font-weight: 400;
    /* Regular */
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}

/* Button text */
.button-text {
    letter-spacing: 4%;
}

/* Link text */
.link-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}

.footer_social-media {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}

.instagram, .twitter, .facebook, .ld{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .modal-content {
    width: 408px;
    min-height: 584px;
    background-color: #fff;
    /* padding: 250px 200px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(46, 47, 66, 0.40);
    position: relative;
  }

  .close-modal-btn {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
  }

  .customer_text {
    color:#2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

.customer{
    padding: 120px 0;
}

  .cunstomer_list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }
  }

  .active {
    position: relative;
}

.footer__input {
    width: 264px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    background-color: #2E2F42;
    padding: 12px 16px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.modal-content {
    padding: 72px 24px 24px 24px;
}

.input__title {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.form__input {
    outline: none;
    border: none;
}

.input__container {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 11px 16px;
    width: 360px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.form__input:focus .input__container{
    border: 1px solid var(--IRIS, #4D5AE5);
}



.form__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chek__form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.text__chek {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.form__element {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.form__coments {
    outline: none;
    width: 360px;
    height: 120px;
    padding: 11px 16px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.form__button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    transition: all 0.3s;
}

.form__button:hover {
    background-color: #31D0AA;
}

.form__title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer__input::placeholder {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
}

.footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    transition: all 0.3s;
}

.footer__button:hover {
    background-color: #31D0AA;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer__form-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.button__text {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}



.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 4px;
}
  
  .customer_item {
    border: 1px solid #8E8F99;
    border-radius: 5px;
    padding: 16px 32px;
    width: 104px;
    height: 56px;
    transition: all 0.3s;
  }


  .svg_color {
    transition: all 0.3s;
  }

  .customer_item:hover .svg_color {
      fill: #404BBF;
  }

  .customer_item:hover {
    border: 1px solid #404BBF;
  }

  .customer_info {
      padding: 120px 0;
      display: flex;
      flex-direction: column;
      gap: 72px;
  }


  .button {
    padding: 8px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  
  .modal:not(.is-hidden) {
    opacity: 1;
    visibility: visible;
  }
  

.footer_content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 120px;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
        margin: 0 auto;
    }
}


.hero {
    padding: 188px 0px;
    background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/people-office\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.icon-item-block{
    background-color: var(--color-cloud);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;
}
.social-media-item{
    background-color: var(--color-iris);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    transition: all 0.3s;
}
.social-media-item:hover{
    background-color:#31D0AA ;
}
.social-media-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.hero h1 {
    max-width: 496px;
    margin: 0 auto 48px;
    display: block;
}



.info-title {
    display: none;
}

.info {
    padding: 120px 0;
}

.container-footer {
    @media (min-width: 320px) and (max-width: 620px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer_social-media {
    @media (min-width: 320px) and (max-width: 620px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer__form {
    @media (min-width: 320px) and (max-width: 620px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.aside {
    display: none;
    gap: 284px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;
    background-color: #fff;
    padding: 80px 40px 40px 40px;
}

.aside__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.exit {
    position: absolute;
    right: 10px;
    top: 30px;
}

.aside__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.aside__phone {
    color: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.aside__email {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.aside__link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-decoration: none;
}

.aside:target {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

.menu {
    display: none;

    @media (min-width:320px) and (max-width: 620px) {
        display:block;
    }
}

.menu-nav {
    @media (min-width:320px) and (max-width: 620px) {
        display:none;
    }
}

.adress {
    @media (min-width:320px) and (max-width: 620px) {
        display:none;
    }
}

.container-header {
    @media (min-width:320px) and (max-width: 620px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        width:100%;
    }
}

.header {
    @media (min-width:320px) and (max-width: 620px) {
       
        padding: 16px;
    
    }
}



.info-list {
    @media (min-width: 320px) and (max-width: 620px) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }
}

.icon-item-block {
    @media (max-width: 1024px) {
        display: none;
    }
}

.info-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
}

.info-item {
    max-width: 264px;
}

.info-legend {
    margin-bottom: 8px;

    @media (max-width: 1024px) {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
}

.info-p {
   
    @media (max-width: 1024px) {
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    } 
}

.wrapper {
    padding-bottom: 120px;

    @media (max-width: 1024px) {
        display:none;
    } 
}

.wrapper-title {
    text-align: center;
    margin-bottom: 82px;
}

.wrapper-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.our-team {
    background-color: var(--CLOUD, #F4F4FD);
    padding: 120px 0px;

    @media (max-width: 1024px) {
        padding: 108px 0px;
    } 
}

.our-team-list {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
    } 
}

.our-team-title {
    text-align: center;
    margin-bottom: 82px;
}

.our-team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    background-color: var(--color-white);

}


.team_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 32px 0;
}
header a {
    text-decoration: none;
}

.logo-header {
    text-decoration: none;
    /* Remove default underline */
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-header span:first-child {
    width: 44px;
    /* Width for "Web" */
    color: var(--color-iris);
}

.logo-header span:last-child {
    width: 71px;
    /* Width for "Studio" */
    color: var(--color-navy-blue);
}

.footer {
    width: 100%;
    padding: 100px 0;
}

.footer-p {
    max-width: 264px;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;
}

footer {
    background: var(--color-navy-blue);
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 17px;
}

.filters {
    padding: 96px 0 120px 0;
    margin-bottom: 120px;
}

.filter-list {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-left: 0;
    justify-content: center;
    margin-bottom: 72px;
}

.logo-footer {
    background: var(--color-navy-blue);
    text-decoration: none;
    /* Remove default underline */
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-footer span:first-child {
    width: 44px;
    color: var(--color-iris);
}

.logo-footer span:last-child {
    width: 71px;
    color: var(--color-cloud);
}

footer p {
    color: var(--color-cloud);
}

.order-button {
    display: block;
    margin: 0 auto;
    border: none;

    background: var(--color-iris);
    color: var(--color-white);
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--color-iris);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


/* Застосування стилів до тексту */





.filter-button {
    color: var(--color-iris);
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--color-cloud);
    padding: 8px 16px;
    /* Adjust padding as needed */
    font-weight: 500;
    cursor: pointer;
    /* Ensure cursor changes to pointer on hover */
    outline: none;
    /* Remove default button outline */
}

/* Hover effect */
.filter-button:hover {
    background: var(--color-iris);
    /* Apply hover color */
    color: var(--color-white);
}

/* Active effect (when button is clicked) */
.filter-button:active {
    transform: translateY(1px);
    /* Apply slight downward shift */
}

.footer_content {
    @media (min-width:320px) and (max-width:640px) {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



.email:hover {
    color: var(--color-ocean);
}


.project-card {
    min-width: 360px;
    /*px, % em, rem*/
    min-height: 300px;


}

.project-link {
    text-decoration: none;
}

.project-p {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 32px;
}

.project-cards-holder {

    display: flex;
    gap: 24px;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.project-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.project-container {
    padding: 32px 16px;
    border-right: 1px solid #666;
    /* 2px dashed medium gray */
    border-bottom: 1px solid #666;
    /* 3px double light gray */
    border-left: 1px solid #666;
    /* 4px dotted lighter gray */
}

.effect {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: #4D5AE5;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .project-link:hover .overlay {
    height: 100%;
    opacity: 0.7;
  }
  
  .overlay-text {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
  }

.card-content-img {
    min-width: 360px;
    /*px, % em, rem*/
    min-height: 300px;
}


/* -------- Color Classes --------*/
.color-primary-brand {
    color: var(--color-iris);
    /* Iris color */
}

.color-pressed-state {
    color: var(--color-ocean);
    /* Primary Brand color */
}

.dark {
    color: var(--color-navy-blue);
    /* Pressed state color */

}

.color-success {
    color: var(--color-green);
    /* Dark color */
}

.color-text {
    color: var(--color-slate);
    /* Success color */
}

.color-subtle-text {
    color: var(--light-slate);
    /* Text color */
}

.color-accent {
    color: var(--cornflower);
    /* Subtle Text color */
}

.color-light {
    color: var(--color-cloud);
    /* Accent color */
}

.color-modal-overlay {
    color: var(--color-navy-blue-modal);
    /* Light color */
}

.color-hero-background {
    color: var(--color-grey);
    /* Modal overlay color */
}

.color-white-background {
    color: var(--color-white);
    /* Hero background color */
}

.color-modal-background {
    color: var(--color-dairy);
}

.footer__form-info {
    @media (min-width:320px) and (max-width:640px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}